/*Variables*/

:root {

  --primaryColor: #46b3c0;
  --secondaryColor:#a89ede;
  --accentColor:#9168cc;
  --backgroundColor:#E9E9E9;
  --textColor: #071516;
  --linkFontSize: 12px;

  
}
/*CSS Reset*/

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";

}


/*Navigation Bar*/

.nav{


}
.nav__list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
padding: 16px 8px 8px 8px;
}

/*nav - links */

.nav__item{
  font-size:--linkFontSize;
  font-weight: 400;
  padding: 0 8px;
  transition: transform 0.2s ease-in-out; /* Animation */
}

.nav__item:hover:not(:first-child){
  transform: scale(1.2);
  font-weight:bold !important;
}
.nav_item:active{
  text-decoration: underline;
}
.nav__link{
  text-decoration: none;
  color: var(--textColor);
}
/*nav - logo*/


.nav__item-logo{
  transition-property: transform;
    transition-duration: 1s;
}

.nav__item-logo:hover{
  animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}

.nav__list-mobile{
  display: none;
}

/*Nav Mobile */
@media(max-width:800px){
  .nav__list-desktop{
      display:none;
  }
  .nav__list-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   }
   .nav__wrapper-menu{
    display: flex;
    flex-direction: column;
    

   }
   .nav__wrapper-icon{
    display: flex;
    flex-direction: row;
   }
   .nav__wrapper-links{
    display: none;
    
   }
   .nav__wrapper-logo{
    margin-right: auto;
   
   }
   .nav__wrapper-links{
    flex-direction: row;
    position: fixed;
    top:65px;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rbga(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-sizing: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction:column ;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
   }
   .nav__link-close{
    display: none;
   }

}


/*Annimation*/
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/*Landing page  | Hero Page */


.section-hero{
  align-items: center;
  background-color: var(--backgroundColor);
  display: flex;
  height: 95vh;
  margin: 8px 16px;
}
.hero__Container{
  height: inherit;
  width: 50%;
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; 
}
.section-hero h1{
  width: 50vw;
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
  padding: 1.5rem;
}
.section-hero h1 b{
  font-family: "Racing Sans One";
  font-size: 4em;
}

.section-hero h3{
  line-height: 2em;
  text-align: center;
}
.section-hero img{
  width: 750px;
  height: auto;
}a:hover,a:active{
	text-decoration:none;
}



.stage{
  border:1px solid purple;
	width: auto;
	margin-top: 15px;
    height: 100px;
  }
  .cubespinner{
	-webkit-animation-name:spincube;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
	animation-name:spincube;

	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:8s;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transform-origin:40px 40px 0;
	-moz-transform-origin:40px 40px 0;
	-ms-transform-origin:40px 40px 0;
	transform-origin:40px 40px  0;
  }
  .cubespinner div{
	  position:absolute;
	  height:80px;
	  text-align:left;
	  color:#109393;
	  font-family:'Raleway', sans-serif;
	  font-size:74px;
	  font-weight:700;
	  }
  .cubespinner .face1{
	  color:#f1c40f;
	  -webkit-transform:translateZ(40px);
	  -moz-transform:translateZ(40px);
	  -ms-transform:translateZ(40px);
	  transform:translateZ(40px);
	  -webkit-backface-visibility: hidden;
	  }
	.cubespinner .face2{
		color:#fff;
		-webkit-transform: rotateX(90deg) translateZ(40px);
		-moz-transform: rotateX(90deg) translateZ(40px);
		-ms-transform: rotateX(90deg) translateZ(40px);
		transform: rotateX(90deg) translateZ(40px);
		-webkit-backface-visibility: hidden;
	}
	.cubespinner .face3{
		color:#f85555;
		-webkit-transform:rotateX(180deg)  translateZ(40px);
		-moz-transform:rotateX(180deg)  translateZ(40px);
		-ms-transform:rotateX(180deg)  translateZ(40px);
		transform:rotateX(180deg)  translateZ(40px);
		-webkit-backface-visibility: hidden;
		}
	.cubespinner .face4{
		color:#fff;
		-webkit-transform:rotateX(270deg) translateZ(40px);
		-moz-transform:rotateX(270deg) translateZ(40px);
		-ms-transform:rotateX(270deg) translateZ(40px);
		transform:rotateX(270deg) translateZ(40px);
		-webkit-backface-visibility: hidden;
	}


/*Cubical Flipping or rotation*/
@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    15%      { -webkit-transform: rotateX(90deg);}
    25%      { -webkit-transform: rotateX(90deg);}
    40%      { -webkit-transform: rotateX(180deg);}
    50%      { -webkit-transform: rotateX(180deg);}
    65%      { -webkit-transform: rotateX(270deg);}
	75%      { -webkit-transform: rotateX(270deg);}
	95%      { -webkit-transform: rotateX(360deg);}
	100%      { -webkit-transform: rotateX(360deg);}
  }@keyframes spincube {
    from,to {
	  -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    15% {
	  -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
	25% {
	  -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
	40% {
	  -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
	50% {
	  -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
    65% {
	  -webkit-transform: rotateX(270deg);
      -moz-transform: rotateX(270deg);
      -ms-transform: rotateX(270deg);
      transform: rotateX(270deg);
    }
	75% {
	  -webkit-transform: rotateX(270deg);
      -moz-transform: rotateX(270deg);
      -ms-transform: rotateX(270deg);
      transform: rotateX(270deg);
    }
	90% {
	  -webkit-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
    100% {
	  -webkit-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
  }

@media(max-width:800px){
  .section-hero{
    display: flex;
   flex-direction: column;
    width: 100%;
  }
 
  .section-hero h1 b{
   font-size:2em ;
  }
  .section-hero img{

  }
  .hero__Container-Left{
    display: none;
  }
  .section-hero h3{
    display: none;
  }
}
